<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{menu.html}">
<head>
    <meta charset="utf-8">
    <title>Contacto Familiar</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container mt-5">
            <h1>Contacto Familiar</h1>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="'Nombre: ' + ${contactoFamiliar.nombre}"></h5>
                    <p class="card-text" th:text="'Teléfono: ' + ${contactoFamiliar.telefono}"></p>
                    <p class="card-text" th:text="'Parentesco: ' + ${contactoFamiliar.parentesco}"></p>
                </div>
            </div>
            <a href="/logistica/clientes" class="btn btn-secondary mt-3">Volver al listado</a>
        </div>
    </div>
</body>
</html>